tr.even {
    background-color: lightsalmon;
}

tr.odd {
    background-color: #40ff81;
}

td > *:first-child {
    font-weight: bold;
}

tr.Red { background-color: lightcoral }
tr.Green { background-color: lightgreen }
tr.Blue { background-color: lightblue }