.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #cbdeb9;
}
.label-warning {
    background-color: #d69947;
}
.label-danger {
    background-color: #d9534f;
}
.label-success {
    background-color: #50d154;
}
